*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#f4e4ba ;
}

.container{
    background-color:#fff;
    height: 55vh;
    padding: 2rem;
    border-radius: 1rem;
    width: 40vh;
    

}

form input{

    border-radius: 0.75rem;
    border: none;
    outline: none;
    border: 1px solid lightgray;
    padding: 0.5rem;
    font-size: 1rem;
    margin-top: 0.5rem;
}
.amount p{
    margin-top: 2rem;
}

form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.select-container{

    display: flex;
    /*justify-content: center;
    align-items: center;*/
    width: 6rem;
    border: 1px solid lightgray;
    border-radius: 0.75rem;

}
.select-container img{
    font-size: 1.75rem;
    width: 2rem;
}

.select-container select {
    font-size: 1rem;

     
}

.dropdown{
    margin: 2rem 0 1rem;
}

form button{
    height: 3rem;

    color: #fff;
    font-size: 1.15rem;
    background-color: #af4d98;
    cursor: pointer;
}
.msg{
    margin: 2rem 0 2rem;
}

form i {
    margin-top: 1rem;
}